<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abyx.loyalty" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".AddStoreActivity"
            android:label="@string/title_activity_add_store"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".DetailsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.DetailsActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/search"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BackupRestoreActivity"
            android:label="@string/title_activity_backup_restore"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />
        </activity>
        <activity
            android:name=".NFCViewActivity"
            android:label="@string/title_activity_nfcview"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abyx.loyalty.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManualInputActivity"
            android:label="@string/title_activity_manual_input"
            android:parentActivityName=".AddStoreActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="AddStoreActivity" />
        </activity>
    </application>

</manifest>
